<div class="container">
    <h1 style="margin-top : 100px">Welcome to Our Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel semper mauris.</p>
    <a routerLink="overview" class="button">Get Started</a>
    
    <div class="features">
      <div class="feature">
        <h2>Feature 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="feature">
        <h2>Feature 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="feature">
        <h2>Feature 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>