<div class="cart">
    <h2><ng-content></ng-content></h2>
    
    <div class="item" style="text-align: center;">
        <div class="details">
            <h3 style="text-align: justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, sit mollitia dolores fugiat aut necessitatibus impedit laborum officia, veritatis dolorem in natus animi voluptatibus distinctio eligendi, quo beatae deleniti illum.</h3>
        </div>
    </div>
    <div class="total" style="text-align: center;">
        <p>Total: $45</p>
        <ng-content select=".checkout-btn"></ng-content>
    </div>
</div>


